<h2>Category</h2>
<div class="panel-group category-products" id="accordian">
  <div class="panel panel-default" *ngFor="let category of allCategories; let index=index;">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordian" href="#{{index}}">
          <span class="badge pull-right">
            <i class="fa fa-plus"></i>
          </span>
          {{category.name}}
        </a>
      </h4>
    </div>
    <div id="{{index}}" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
          <li *ngFor="let brand of category?.brands">
            <a [routerLink]="['/brand', brand._id]">
              {{brand.name}}
              <span class="pull-right">( {{brand.products.length}} )</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>