<table class="expenses-info">
    <thead>
        <tr>
            <th colspan="2">Expenses</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Total Amount:</td>
            <td>{{user.amount}} BGN</td>
        </tr>
        <tr>
            <td>Total Merches</td>
            <td>{{user.expenses}}</td>
        </tr>
    </tbody>
</table>