  <script src="./node_modules/jquery/dist/jquery.js"></script>
  <script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="./node_modules/handlebars/dist/handlebars.min.js"></script>
  <script src="./node_modules/sammy/lib/min/sammy-0.7.6.min.js"></script>
  <script src="./node_modules/sammy/lib/min/plugins/sammy.handlebars-0.7.6.min.js"></script>

  <!-- helpers -->
  <script src="./scripts/helpers/storage.js"></script>
  <script src="./scripts/helpers/requester.js"></script>
  <script src="./scripts/helpers/handlers.js"></script>


  <!-- controlers -->
  <script src="./scripts/controlers/userControllers.js"></script>
  <script src="./scripts/controlers/homeController.js"></script>
  <script src="./scripts/controlers/eventController.js"></script>

  <!-- app -->
  <script src="./scripts/app/app.js"></script>
