@media (min-width: 768px){
.col-sm-6 {
    width: 50%;
}
}
#slider {
  padding-bottom: 45px;
}

.carousel-inner {
  margin-left: 3%;
}

.carousel-indicators li {
  background: #C4C4BE;
}

.carousel-indicators li.active {
  background: #FE980F;
}

.item h1 {
  color: #B4B1AB;
  font-family: abel;
  font-size: 48px;
  margin-top: 115px;
}

.item h1 span {
  color: #FE980F;
}

.get {
  background: #FE980F;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-top: 23px;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.control-carousel {
  position: absolute;
  top: 50%;
  font-size: 60px;
  color: #C2C2C1;
}

.control-carousel:hover {
  color: #FE980F;
}

.right {
  right: 0;
}

.pricing {
  position: absolute;
  right: 40%;
  top: 52%;
}

.pricing {
  position: absolute;
  right: 40%;
  top: 52%;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.col-sm-6 {
  float: left;
}