<div class="errorMessage">
  <!-- login error messages -->
  <div *ngIf="loginUserName.invalid  && (loginUserName.touched || loginUserName.dirty )" class="alert alert-danger">
    <app-error-message *ngIf="loginUserName.errors.required" errorMessage="User name is reqired in login form">
    </app-error-message>
    <app-error-message *ngIf="loginUserName.errors.minlength"
      errorMessage="User must be at least 6 characters long in login form">
    </app-error-message>
  </div>
  <div *ngIf="loginPassword.invalid  && (loginPassword.touched || loginPassword.dirty )" class="alert alert-danger">
    <app-error-message *ngIf="loginPassword.errors.required" errorMessage="Password is reqired in login form">
    </app-error-message>
  </div>
  <!-- /login error messages -->
  <!-- register error messages -->
  <div *ngIf="registerUserName.invalid && (registerUserName.touched || registerUserName.dirty )"
    class="alert alert-danger">
    <app-error-message *ngIf="registerUserName.errors.required" errorMessage="User name is reqired in register form">
    </app-error-message>
    <app-error-message *ngIf="registerUserName.errors.minlength"
      errorMessage="User must be at least 6 characters long in register form">
    </app-error-message>
  </div>
  <div *ngIf="registerEmail.invalid  && (registerEmail.touched || registerEmail.dirty )" class="alert alert-danger">
    <app-error-message *ngIf="registerEmail.errors.required" errorMessage="Please enter an e-mail">
    </app-error-message>
    <app-error-message *ngIf="registerEmail.errors.pattern" errorMessage="Please enter a valid e-mail">
    </app-error-message>
  </div>
  <div
    *ngIf="registerForm.get('passwords').invalid  && (registerForm.get('passwords').touched || registerForm.get('passwords').dirty )"
    class="alert alert-danger">
    <app-error-message errorMessage="Password is reqired in register form">
    </app-error-message>
  </div>
  <div *ngIf="registerForm.get('passwords').errors?.matchPasswords" class="alert alert-danger">
    <app-error-message errorMessage="Passwords don't match!">
    </app-error-message>
  </div>

  <!-- /register error messages -->
</div>
<section id="form">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <div class="login-form">
          <h2>Login to your account</h2>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
            <input formControlName="userName" type="text" placeholder="Name" />
            <input formControlName="password" type="email" placeholder="Email Address" />
            <span>
              <input type="checkbox" class="checkbox">
              Keep me signed in
            </span>
            <button [disabled]="loginUserName.invalid || loginPassword.invalid" type="submit"
              class="btn btn-default">Login</button>
          </form>
        </div>
      </div>
      <div class="col-sm-1">
        <h2 class="or">OR</h2>
      </div>
      <div class="col-sm-4">
        <div class="signup-form">
          <h2>New User Signup!</h2>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
            <input formControlName="userName" type="text" placeholder="Name" />
            <input formControlName="email" type="email" placeholder="Email Address" />
            <div formGroupName="passwords">
              <input formControlName="password" type="password" placeholder="Password" />
              <input formControlName="repeatePassword" type="password" placeholder="Repeate password" />
            </div>
            <button [disabled]="registerForm.invalid" type="submit" class="btn btn-default">Signup</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>