<div class="example-container">
  <form [formGroup]="createBrandForm" (ngSubmit)="onSubmit()" [formGroup]="options">

    <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
      <mat-label>Brand Name</mat-label>
      <input formControlName="name" matInput placeholder="Please enter a name minimum 4 character long">
      <app-error-message *ngIf="checkName" errorMessage="Name is reqired!"></app-error-message>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
      <mat-label>Image URL</mat-label>
      <input formControlName="imageUrl" matInput placeholder="Please enter a name minimum 4 character long">
      <app-error-message *ngIf="checkImgUrl" errorMessage="Imgage URL is reqired!"></app-error-message>
    </mat-form-field>
    <button [disabled]="createBrandForm.invalid" class="btn btn-default">Create Brand</button>
  </form>
</div>