.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-container .mat-form-field {
  width: 50%;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container .mat-radio-button {
  margin: 0 12px;
}

.example-container {
  text-align: center;
}

.btn {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #FE980F;
  border: medium none;
  border-radius: 10;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  padding: 6px 25px;
  display: block;
}